body {
	background-color: #D3FDC8;
	color: #504370;
}

.navbar-nav {
	color: #504370;;
}

.container {
	margin: 20px;
/*	border: 2px solid #504370; */
	background-color: #FFF;
}

a:link {
	color: #504370;
	text-decoration: none;
}
a:visited {
	color: #504370;
	text-decoration: none;
}
a:hover {
	color: gray;
	text-decoration: none;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

}