body {
  background-color: #9D9E84;
  background-blend-mode: screen;
/*color: #504370;*/
}

.navbar-nav {
  color: #504370;
  width: 100%;
}

#logoimg {
  margin: -10px 0px 0px 0px;
}

h4 {
  font-family: 'Parisienne', cursive;
  margin: -10px 20px -15px -2px;
  color: #545551;
}

p, h2 {
  font-family: 'Quattrocento Sans', Helvetica, sans-serif;
  color: #545551;
  text-align: center;
}

li {
  text-align: left;
  list-style: none;
  font-family: 'Quattrocento Sans', Helvetica, sans-serif;
  color: #2b2c2a;
  margin: 3%;
}

.Services {
  background-color: #fff;
  opacity: .7;
  height: 23em;
}

span {
  opacity: 0;
  font-family: 'Flamenco', cursive;
  font-weight: bolder;
  color: #545551;
  font-size: 400%;
  animation-name: say-hi;
  -webkit-animation-name: say-hi;
  animation-delay: 4s;
  -webkit-animation-delay: 4s;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  -webkit-animation-timing-function: ease-in;
}

@-webkit-keyframes say-hi {
  0% { opacity: 1; }
  25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; }
  100% { opacity: 1; }
}

@keyframes say-hi {
  0% { opacity: 1; }
  25% { opacity: 0.25; }
  50% { opacity: 0.5; }
  75% { opacity: 0.75; }
  100% { opacity: 1; }
}


.nav-link {
font-size: 110%;
margin: 0 2%;
}

.display {
  margin: 10% 5%;
  padding: 5%;
  left: auto;
  right: auto;
  background-color: #fff;
  /* width: 100%; */
  height: 30em;
  background-image: url(images/hands.jpg);
  background-size: cover;
}

.display-4 {
background-color: #fff;
}

.row {
/* background-color: #fff; */
}

.container {
  /* margin: 20px; */
  opacity: .7;
}

a:link {
  color: #504370;
  text-decoration: none;
}

p:visited {
  color: #504370;
  text-decoration: none;
}

.navbar:hover {
  color: gray;
  text-decoration: none;
}

input {
  margin: 5px;
  width: 85%;
  display: block;
}

/* /* Extra small devices (portrait phones, less than 576px)  */
@media (max-width: 767.98px) {
  .display {
    margin: 20% 10%;
  }
}

/* Small devices (landscape phones, 576px and up) 
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up) 
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up) 
@media (min-width: 992px) and (max-width: 1199.98px) {

} */